@font-face {
    font-family: "JetBrains";
    src: url("https://bujakowski.dev/lib/JBfont/woff/JetBrainsMono-Regular.woff") format('woff');
}

@font-face {
    font-family: "JetBrains";
    src: url("https://bujakowski.dev/lib/JBfont/woff/JetBrainsMono-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "JetBrains";
    src: url("https://bujakowski.dev/lib/JBfont/woff/JetBrainsMono-Bold-Italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains";
    src: url("https://bujakowski.dev/lib/JBfont/woff/JetBrainsMono-Italic.woff") format('woff');
    font-style: italic;
}